{% extends "base.html" %}
{% block content %}
 <div class="md-8">
   <br>
   <br>
   <br>
 </div>
{{ object.product_id }}
{{ object.product_name }}
{{ object.product_des }}
{{ object.price }}
{{ object.quantity }}
{{ object.date_posted|date:"F d, Y" }}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'prod-update' object.product_id %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'prod-delete' object.product_id %}">Delete</a>
  </div>
   
{% endblock content %}