{% extends "base.html" %}
{% block content %}
    
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      {% if user.is_authenticated %}
      <th scope="col">Actions</th>
      {% else%}

      {% endif %}
    </tr>
  </thead>
  <tbody>
    <tr>         
  {% for post in posts %}
    <th scope="row">{{ post.product_id }}</th>
    <td> {{ post.product_name }}</td>
    <td>{{ post.product_des }}</td>
    <td>{{ post.price }}</td>
    <td>{{ post.quantity }}</td>
    {% if user.is_authenticated %}
    <td>
      <a href="/product/{{ post.product_id }}" class="btn btn-primary"><i class="far fa-eye"></i></a>
      <a href="/product/{{ post.product_id }}/update/" class="btn btn-success"><i class="fas fa-edit"></i></a>
      <a href="/product/{{ post.product_id }}/delete/" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
    </td>
    {% else%}
    {% endif %}
    
  </tr>
  {% endfor %}
</tbody>

</table>
  

        
    
{% endblock content %}